global
    log stdout format raw local0 info
    maxconn 4096
    daemon

defaults
    mode http
    option httplog
    option dontlognull
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    timeout http-keep-alive 10s
    timeout check 5s
    log global

frontend http_front
    bind *:80
    acl is_node_backend path_beg /api/v1
    use_backend node_backend if is_node_backend
    default_backend node_backend

backend node_backend
    balance leastconn
    option httpchk GET /api/v1/health
    server api1 scalable-service-server1:3000 check inter 5s rise 2 fall 3
    server api2 scalable-service-server2:3000 check inter 5s rise 2 fall 3
    server api3 scalable-service-server3:3000 check inter 5s rise 2 fall 3

